@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
<<<<<<< HEAD
=======

    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(to bottom, #ffafbd, #ffc3a0); /* New gradient background */

>>>>>>> 67f70dadf848502bcbe11d43e8ee0e022b425af1
    font-family: 'Lato', sans-serif; /* Utilisation de la police Lato */
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #ffafbd, #ffc3a0); /* Nouveau fond en dégradé */
<<<<<<< HEAD
=======
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(to bottom, #ffafbd, #ffc3a0); /* New gradient background */
>>>>>>> bris
=======

>>>>>>> 67f70dadf848502bcbe11d43e8ee0e022b425af1
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 400px;
    max-width: 100%;
    padding: 20px;
<<<<<<< HEAD
<<<<<<< HEAD
    margin:auto;
=======
>>>>>>> bris
=======

    margin:auto;

>>>>>>> 67f70dadf848502bcbe11d43e8ee0e022b425af1
}

h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-group {
<<<<<<< HEAD
<<<<<<< HEAD
    margin-bottom: 20px; /* Marge augmentée pour un meilleur espacement */
=======
    margin-bottom: 15px;
>>>>>>> bris
=======

    margin-bottom: 15px;

    margin-bottom: 20px; /* Marge augmentée pour un meilleur espacement */

>>>>>>> 67f70dadf848502bcbe11d43e8ee0e022b425af1
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #333;
}

<<<<<<< HEAD
<<<<<<< HEAD
.form-group input,
.form-group textarea {
=======
.form-group input {
>>>>>>> bris
=======

.form-group input {

.form-group input,
.form-group textarea {

>>>>>>> 67f70dadf848502bcbe11d43e8ee0e022b425af1
    width: calc(100% - 30px);
    padding: 12px 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    transition: border-color 0.3s ease;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======

.form-group input:focus {
    border-color: #007BFF;

>>>>>>> 67f70dadf848502bcbe11d43e8ee0e022b425af1
.form-group textarea {
    resize: vertical; /* Permet le redimensionnement vertical du textarea */
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: rgb(211, 120, 131); ;
<<<<<<< HEAD
=======
.form-group input:focus {
    border-color: #007BFF;
>>>>>>> bris
=======

>>>>>>> 67f70dadf848502bcbe11d43e8ee0e022b425af1
}

button {
    background-color: rgb(211, 120, 131); /* Rose */
    color: #fff;
    font-size: 14px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
<<<<<<< HEAD
<<<<<<< HEAD
    transition:  background 0.3s ease;
=======
    transition: background-color 0.3s ease;
>>>>>>> bris
=======

    transition: background-color 0.3s ease;
=======
    transition:  background 0.3s ease;

>>>>>>> 67f70dadf848502bcbe11d43e8ee0e022b425af1
    width: 100%;
    margin-top: 10px;
}

button:hover {
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: rgb(211, 120, 131); /* Rose plus clair au survol */
}

a {
    color: rgb(211, 120, 131);
=======
=======

>>>>>>> 67f70dadf848502bcbe11d43e8ee0e022b425af1
    background-color: #e67e8b; /* Rose plus clair au survol */
}

a {
    color: #007BFF;
<<<<<<< HEAD
>>>>>>> bris
=======

    background-color: rgb(211, 120, 131); /* Rose plus clair au survol */
}

a {
    color: rgb(211, 120, 131);

>>>>>>> 67f70dadf848502bcbe11d43e8ee0e022b425af1
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    display: block;
}

a:hover {
<<<<<<< HEAD
<<<<<<< HEAD
    color: rgb(211, 120, 131); 
=======
    color: #0056b3;
>>>>>>> bris
=======

    color: #0056b3;

    color: rgb(211, 120, 131); 

>>>>>>> 67f70dadf848502bcbe11d43e8ee0e022b425af1
}

@media screen and (max-width: 768px) {
    .container {
<<<<<<< HEAD
<<<<<<< HEAD
=======

        width: 90%;
    }
}

>>>>>>> 67f70dadf848502bcbe11d43e8ee0e022b425af1
        width: 100%;
        border-radius: 0;
    }
    .form-container {
        width: 100%;
    }
}
<<<<<<< HEAD
=======
        width: 90%;
    }
}
>>>>>>> bris
=======

>>>>>>> 67f70dadf848502bcbe11d43e8ee0e022b425af1
